<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Mode" value="Test"/>
    <add key="Project" value="Test"/>
  </appSettings>
  <connectionStrings>
    <add name="JIST_Capstone" connectionString="Server=localhost\SQL2014;User Id=sa;Password=sqlserver;Database=JIST_Capstone"/>
    <add name="Test_JIST_Capstone" connectionString="Server=localhost\SQL2014;User Id=sa;Password=sqlserver;Database=Test_JIST_Capstone"/>
  </connectionStrings>
</configuration>