<!-- Start Static Page Modal -->
<div class="modal fade" id="staticPageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Static Page</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="addStaticPage">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" id="spTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea id="spMCEcontent" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label><input type="checkbox" id="spIsLive" />Page is live.</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="saveStaticPage" class="btn btn-primary">Add Static Page</button>
                <button type="button" id="saveEditStaticPage" class="btn btn-primary">Edit Static Page</button>
            </div>
        </div>
    </div>
</div>
<!-- End Static Page Modal -->
